/* Reset some default styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}



a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9;
}

.tabel {
    font-size: 2rem;
}